
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all collections for development purposes.
    // In a production environment, you should secure your data with more
    // restrictive rules.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
